
:root
{
    --framebg: #333;
    --bg: #000;
    --fg: wheat;
    --btnbg: #555;
}

body
{
    background-color: var(--bg);
    color: var(--fg);

    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}


/* CONTAINER */
.frame
{
    width: 400px;
    height: 400px;
    background-color: var(--framebg);
    border-radius: 20px;

    /* PADDING */
    padding: 20px;
    box-sizing: border-box;

    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button
{
    width: 100px;
    height: 100px;
    background-color: var(--btnbg);
    border-radius: 10px;

    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .button:active
{
    transform: scale(0.8);
} */

.button::before
{
    transform:scale(0.3);
}

@keyframes wobble
{
    0%{transform: scale();}
}